spacy==2.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
nltk==3.6.3
sentence-transformers==2.0.0
sentence-transformers==2.7.0
